# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Database
# =========================
data/*.db

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE (PyCharm)
# =========================
.idea/

# =========================
# Logs
# =========================
logs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

training/finbert_torch_baseline

# Data
training/*.csv
